/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    font-family: "hm" !important;
}

body {
    background-color: #16a085;
}

/* 美化滚动条 */
::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
    scrollbar-arrow-color: red;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    scrollbar-arrow-color: red;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
}

/* 定义主体背景及大小 */
#box {
    width: 100%;
    height: 100%;
}

/* 上半部分说明盒子 */
#info {
    font-size: 40px;
    text-align: center;
    color: #fff;
    background-color: #1abc9c;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
    user-select: none;
}

.one {
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    height: auto;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    padding: 20px;
    overflow: auto;
    user-select: none;
}

.one h1 {
    text-align: center;
}

.one #ly {
    margin-left: 40px;
}

#footer {
    clear: both;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 20px;
}

.card {
    box-sizing: border-box;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card p {
    margin-top: 0;
    margin-bottom: .5rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

/* 表格样式 */
.table-bordered {
    border: 1px solid #dee2e6;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}

.table-sm td,
.table-sm th {
    padding: .3rem;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    text-align: inherit;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

@media only screen and (max-width:639px) {
    .one {
        float: none;
        margin: 0 auto;
        margin-top: 30px;
        width: 80%;
        height: auto;
    }

    .one #ly {
        margin-left: 0;
    }
}
